Trong phần này, ta sẽ xem xét các yếu tố ảnh hưởng đến thành công của phim (Revenue, Vote Average). Các biến được phân tích: Runtime, Genre, Country, Budget.

In [22]:
import pandas as pd
import clean_data

df = clean_data.DocFile('../film.csv')
df.head()

,Id,Title,Original Title,Original Language,Overview,Popularity,Revenue,Budget,Runtime,Release Date,Vote Average,Vote Count,Adult,Genres,Production Companies,Production Countries,Spoken Languages,Status
0,291008,Legend is Alive,Huyền Thoại Bất Tử,vi,An impoverished mentally disabled boy in Vietn...,0.703,0,0,90,9/18/2009,7.000,2,False,['Drama'],['Phuoc Sang Entertainment'],['Vietnam'],['Tiếng Việt'],Released
1,44024,Beauty in Each Centimeter,Đẹp Từng Centimet,vi,An aspiring photographer tries to convince a g...,0.600,0,0,109,1/15/2009,7.500,3,False,"['Comedy', 'Romance']",[],['Vietnam'],['Tiếng Việt'],Released
2,18327,Giải cứu thần chết,Giải cứu thần chết,en,NaN,0.600,0,0,0,1/1/1900,0.000,0,False,[],[],[],['Tiếng Việt'],Released
3,8681,Taken,Taken,en,"While vacationing with a friend in Paris, an A...",87.205,226830568,25000000,94,2/18/2008,7.391,10753,False,"['Action', 'Thriller']","['Wintergreen Productions', 'EuropaCorp', 'M6 ...","['France', 'United States of America']","['English', 'Français', 'العربية', 'shqip']",Released
4,16614,Adventureland,Adventureland,en,"In the summer of 1987, a college graduate take...",21.476,17200000,9800000,107,4/3/2009,6.400,2075,False,"['Comedy', 'Drama']","['Miramax', 'This Is That', 'Sidney Kimmel Ent...",['United States of America'],['English'],Released

In [23]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    2278 non-null   int64
 1   Title                 2278 non-null   object
 2   Original Title        2278 non-null   object
 3   Original Language     2278 non-null   object
 4   Overview              2150 non-null   object
 5   Popularity            2278 non-null   float64
 6   Revenue               2278 non-null   int64
 7   Budget                2278 non-null   int64
 8   Runtime               2278 non-null   int64
 9   Release Date          2255 non-null   object
 10  Vote Average          2278 non-null   float64
 11  Vote Count            2278 non-null   int64
 12  Adult                 2278 non-null   bool
 13  Genres                2278 non-null   object
 14  Production Companies  2278 non-null   object
 15  Production Countries  2278 non-null   object
 16  Spoken Languages      2278 non-null   object
 17  Status                2278 non-null   object
dtypes: bool(1), float64(2), int64(5), object(10)
memory usage: 304.9+ KB

,Id,Popularity,Revenue,Budget,Runtime,Vote Average,Vote Count
count,2.278000e+03,2278.000000,2.278000e+03,2.278000e+03,2278.000000,2278.000000,2278.000000
mean,4.680644e+05,37.185618,1.097209e+08,3.262159e+07,100.068042,5.866943,2347.888938
std,2.896485e+05,76.589153,2.397267e+08,5.750952e+07,32.406742,2.140769,4289.013482
min,1.200000e+01,0.600000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,2.666992e+05,5.645500,0.000000e+00,0.000000e+00,92.000000,5.600000,14.000000
50%,4.481425e+05,20.364000,4.013398e+06,0.000000e+00,103.000000,6.400000,327.500000
75%,6.279190e+05,42.241750,1.044750e+08,4.000000e+07,116.000000,7.100000,2816.500000
max,1.258626e+06,1337.194000,2.800000e+09,4.600000e+08,206.000000,10.000000,35454.000000